* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* (10px / 16px) * 100 = 62.5%  => 1rem = 10px */
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #0f0f0f;
  font-weight: 400;
}
