.header {
  height: 6rem;
  background-color: rgb(0, 0, 0);
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  max-width: 175.4rem;
  margin: 0 auto;
}
.content {
  display: flex;
  padding: 2rem 2rem;

   @media only screen and (max-width: 1000px) {
       flex-direction: column;
    }
}
.main {
  flex: 1;
  padding: 1rem 2rem 1rem 0;
}
.aside {
  width: 400px;
  flex-shrink: 0;
  background-color: #0f0f0f;
}

